[project]
	description = Sandbox for practice
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cau213
[access "refs/for/refs/*"]
	read = group user/cau213
	push = group user/cau213
	label-Code-Review = -2..+2 group user/cau213
	label-Verified = -1..+1 group user/cau213
	rebase = group user/cau213
	removeReviewer = group user/cau213
	submit = group user/cau213
[access "refs/heads/*"]
	read = group user/cau213
	create = group user/cau213
	push = +force group user/cau213
	pushMerge = group user/cau213
[access "refs/tags/*"]
	push = +force group user/cau213
	pushTag = group user/cau213
	pushSignedTag = group user/cau213
